<div class="featured-movie">
    {% if movie.poster_path %}
        <div class="featured-movie__poster">
            <img src="https://image.tmdb.org/t/p/w1280{{ movie.poster_path }}" alt="{{ movie.title }}">
        </div>
    {% endif %}
    <div class="featured-movie__info">
        <h2>{{ movie.title }}</h2>
        <div class="meta">
            <span class="year">{{ movie.release_date|date('Y') }}</span>
            <span class="rating">★ {{ movie.vote_average|number_format(1) }}</span>
        </div>
        <p class="overview">{{ movie.overview }}</p>
        <button class="watch-trailer" data-movie-id="{{ movie.id }}">
            Voir la bande annonce
        </button>
        <div class="video-container" data-movie-id="{{ movie.id }}"></div>
    </div>
</div>